.videoCard {
  color: white;
  height: 400px;
  width: 400px;
  padding: 20px;
  transition: transform 100ms;
}

.videoCard:hover {
  transform: scale(1.09);
}

.videoCard > img {
  height: 300px;
  width: 400px;
  object-fit: contain;
}

.videoCard > h2 {
  padding-top: 10px;
  justify-content: center;
}
